<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>start</servlet-name>
    <servlet-class>com.getString</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
   </servlet-mapping>
  
  
  <servlet>
    <servlet-name>getFileDirectory</servlet-name>
    <servlet-class>com.Servlet.GetFileDirectoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFileDirectory</servlet-name>
    <url-pattern>/getFileDirectory</url-pattern>
   </servlet-mapping>

  <servlet>
    <servlet-name>getXMLServlet</servlet-name>
    <servlet-class>com.Servlet.GetXMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getXMLServlet</servlet-name>
    <url-pattern>/getXMLServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>anlayseStarterServlet</servlet-name>
    <servlet-class>com.Servlet.AnalyseStarterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>anlayseStarterServlet</servlet-name>
    <url-pattern>/anlayseStarterServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>getBookTundish</servlet-name>
    <servlet-class>com.Servlet.GetBookTundishServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookTundish</servlet-name>
    <url-pattern>/getBookTundish</url-pattern>
   </servlet-mapping>
   
  <servlet>
    <servlet-name>getBookPackage</servlet-name>
    <servlet-class>com.Servlet.BookPackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookPackage</servlet-name>
    <url-pattern>/getBookPackage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FPAAnalyse</servlet-name>
    <servlet-class>com.Servlet.FPAAnalyseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FPAAnalyse</servlet-name>
    <url-pattern>/FPAAnalyse</url-pattern>
  </servlet-mapping>
  
</web-app>

